extends ../layouts/base.pug

block content
    section.search 
        form(action="/" method="get")
            select(name="seq")
                option(value="title") 제목
                option(value="author") 작가
            input(type="text" name="searchValue" placeholder="검색하기..")
            input(type="submit" value="Search")

    section.bookList 
        ul 
            li 번호
            li 제목
            li 위치
            li 작가
            li 금액

    section.bookDataList  
        each book in books
            ul 
                li 1
                li #{book.title}
                li #{book.location}
                li #{book.author.name}
                li #{book.price}원    