.adminSide {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: 40px;
}

.adminSide li {
  margin: 10px 0px;
  width: 100%;
  padding: 5px 0px 5px 20px;
  border-bottom: 1px solid #999;
}

.adminSide li a {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
  padding: 5px;

  transition: 0.3s;
}

.adminSide li a:hover {
  color: blueviolet;
}
